*{
    padding: 0%;
    margin: 0%;
}
h1{
    text-align: center;
    background-color: maroon;
    color: white;
    padding: 20px;
}
nav ul{
    background-color: rgb(255, 255, 255);
    width: 100%;
    list-style-type: none;
    text-align: center;
}
.Contenido {
    max-width: 800px; /* Ajusta el ancho máximo del contenedor según tus preferencias */
    margin: 20px; /* Añade un margen alrededor del contenedor */
    text-align: justify; /* Justifica el texto dentro del contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
}
